.library__sorting-button{
    background-color: var(--color-timber-green);
    font-size: 15px;
    font-weight: 500;
    color: var(--color-iron);
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    flex: 0 1 33.333%;
    transition: all 0.8s ease;
    padding: 0 20px;
    &:active{
        background-color: var(--color-te-papa-green);
    }

    &:not(:last-child){
        margin-right: 15px;
    }
}

@media(max-width: 1050px){
   .library__sorting-button{
       flex: 0 1 20%;
   }
}

@media(min-width: 768px){
    .library__sorting-button{
        &:hover{
            background-color: var(--color-te-papa-green);
        }
    }
}

@media(max-width: 500px){
     .library__sorting-button{
       flex: 0 1 33.333%;
   }
}