.library{
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    background-color: var(--color-gable-green);
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.8s ease;
    opacity: 0;
    z-index: 60;
    &--active{
        transform: translateX(0);
        opacity: 1;
    }
    &__search{
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 10px 5px;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        transition: all 0.8s ease;
    }
    &__left{
        flex: 0 1 0px;
        opacity: 0;
        transition: all 0.8s ease;
        padding-right: 10px;
        &-input{
            width: 100%;
            padding: 10px;
            height: 30px;
            font-weight: 500;
            font-size: 17px;
            background-color: var(--color-iron);
            border-radius: 5px;
            &::placeholder{
                color: var(--color-gable-green);
            }
        }
        &-active{
            flex: 0 1 260px;
            opacity: 1;
        }
    }

    &__sorting{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px 0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
        margin-top: -34px;
        &-active{
            margin-top: 5px;
            visibility: visible;
            opacity: 1;
        }
    }
    &__container{
        overflow: auto;
        height: 91%;
    }
}

*{
    scrollbar-width: thin;
    scrollbar-color: var(--color-grey);
}
*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: var(--color-grey);
    border-radius: 20px;
    border: transparent;
}


@media(max-width: 1050px){
   .library{
       transition: all 0.6s ease;
       width: 100%;
   }
}

@media(max-width: 350px){
    .library__left-active{
        flex: 0 1 230px;
    }
}